body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.task{
    background-color: white;
    padding: 10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.task-done{
    text-decoration: line-through;
    color: gray;
}
button{
    margin-left: 5px;
}
#tasks{
    margin-top: 20px;
}
